.typewriter .header-main {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation: typing 4s steps(100) infinite, blink-caret 4s step-end infinite;
}
@keyframes typing {
    from { width: 0; }
    to {width: 100%;}
}
@keyframes blink-caret {
    from, to {border-color: transparent;}
}
.header-main {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 2rem;
}
.header-hr {
    width: 25%;
    color: black;
}
.views {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.map-view-button {
    margin-right: 2rem;
}
.map-view-button:hover, .list-view-button:hover {
    opacity: 50%;
    cursor: pointer;
}
.list-view {
    display: none;
}
.arizona-card, .arkansas-card, .california-card, .florida-card, .georgia-card, .illinois-card, .indiana-card, .michigan-card, .minnesota-card, .missouri-card, .ohio-card, .south-dakota-card, .tennessee-card, .texas-card, .utah-card, .washington-dc-card, .west-virginia-card, .wisconsin-card {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-images {
    height: 250px;
}
.card-images:hover {
    cursor: pointer;
    opacity: 80%;
}
.united-states-map {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    z-index: 2;
    margin-top: 1rem;
}
.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 1px;
}
.AR, .AZ, .CA, .DC, .FL, .GA, .IL, .IN, .MI, .MN, .MO, .OH, .SD, .TN, .TX, .UT, .WV, .WI {
    fill: red;
}
.AR:hover, .AZ:hover, .CA:hover, .DC:hover, .FL:hover, .GA:hover, .IL:hover, .IN:hover, .MI:hover, .MN:hover, .MO:hover, .OH:hover, .SD:hover, .TN:hover, .TX:hover, .UT:hover, .WV:hover, .WI:hover {
    z-index: -100;
    fill: green;
    cursor: pointer;
}
.arkansas:hover, .california:hover, .florida:hover, .georgia:hover, .illinois:hover, .indiana:hover, .michigan:hover, .minnesota:hover, .missouri:hover, .ohio:hover, .south-dakota:hover, .tennesseee:hover, .texas:hover, .utah:hover, .washington-dc:hover, .west-virginia:hover, .wisconsin:hover {
    background-color: green;
    cursor: pointer;
}
@media (max-width: 890px) { 
    .first-row, .second-row, .third-row, .fourth-row, .fifth-row {
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    .narrow, .mid, .wide, .minnesota-image-card, .tennessee-image-card, .washington-dc-image-card, .west-virginia-image-card {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .narrow {
        height: 350px;
    }
    .mid {
        height: 350px;
    } 
    .wide {
        height: 300px;
    }
    .minnesota-image-card {
        height: 275px;
    }
    .tennessee-image-card {
        height: 260px;
    }
    .washington-dc-image-card {
        height: 239px;
    }
    .west-virginia-image-card {
        height: 263px;
    }
}