.search-arizona-div {
    background-image: url('../states-images/arizona-images/cover.jpeg');
    background-size: cover;
}
.search-arkansas-div {
    background-image: url('../states-images/arkansas-images/lake.jpeg');
    background-size: cover;
}
.search-california-div {
    background-image: url('../states-images/california-images/city.jpeg');
    background-size: cover;
}
.search-florida-div {
    background-image: url('../states-images/florida-images/seaworld-green2.jpeg');
    background-size: cover;
}
.search-georgia-div {
    background-image: url('../states-images/georgia-images/atlanta2.jpeg');
    background-size: cover;
}
.search-illinois-div {
    background-image: url('../states-images/illinois-images/cover.jpeg');
    background-size: cover;
}
.search-indiana-div {
    background-image: url('../states-images/indiana-images/kelleys.jpeg');
    background-size: cover;
}
.search-michigan-div {
    background-image: url('../states-images/michigan-images/ski.jpeg');
    background-size: cover;
}
.search-minnesota-div {
    background-image: url('../states-images/minnesota-images/city.jpeg');
    background-size: cover;
}
.search-missouri-div {
    background-image: url('../states-images/missouri-images/cave2.jpeg');
    background-size: cover;
}
.search-ohio-div {
    background-image: url('../states-images/ohio-images/beach-view.jpeg');
    background-size: cover;
}
.search-south-dakota-div {
    background-image: url('../states-images/south-dakota-images/heads-eagle.jpeg');
    background-size: cover;
}
.search-tennessee-div {
    background-image: url('../states-images/tennessee-images/tenessee.jpeg');
    background-size: cover;
}
.search-texas-div {
    background-image: url('../states-images/texas-images/san-antonio.jpeg');
    background-size: cover;
}
.search-utah-div {
    background-image: url('../states-images/utah-images/salt-lake-city.jpeg');
    background-size: cover;
}
.search-washington-dc-div {
    background-image: url('../states-images/washington-dc-images/cover.jpeg');
    background-size: cover;
}
.search-west-virginia-div {
    background-image: url('../states-images/west-virginia-images/mountain.jpeg');
    background-size: cover;
}
.search-wisconsin-div {
    background-image: url('../states-images/wisconsin-images/cover.jpeg');
    background-size: cover;
}