div.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    z-index: 1; /* Sit on top */
    padding-top: 5px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    margin-bottom: 3px;
    display: block;
    width: 80%;
    max-width: 700px; 
}
#caption {
    margin: auto;
    display: block;
    width: 95%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 18px;
}
.modal-content, #caption, .row{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    overflow: auto;
}
.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}
.top {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-bottom: 1rem;
}
.top a {
    color: black;
}
.top a:hover {
    text-decoration: none;
}
  /* The Close Button */
.close {
    position: absolute; 
    top: 15px;
    right: 55px;
    transition: 0.3s;
}
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.other-states {
    text-align: center;
    color: rgb(74, 74, 74);
    font-size: 25px;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: flex-end;
}
span>.previous-state, span>.next-state {
    position: absolute;
    margin-top: 4.5rem;
}
span>.previous-state {
    margin-left: -3rem;
}
.previous-state, .next-state {
    font-size: 25px;
    color: black;
    border: 2px solid black;
    border-radius: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .5rem;
}
.previous-state:hover, .next-state:hover {
    background-color: black;
    color: white;
    border: solid 2px white;
    cursor: pointer;
    text-decoration: none;
}
.search {
    position: absolute;
    right: 5rem;
}
.search-button {
    position: absolute;
    right: 1rem;
}
span>.close {
    font-size: 50px; 
    color: white; 
}
@media (max-width: 890px) {
    .united-states-map {
        height: 350px;
        width: 500px;
    }
    .previous-state, .next-state {
        font-size: 15px;
        
        margin-top: 5rem;
        padding: 5px 10px 7px 10px;
    }
    .other-states {
        font-size: 20px;
        margin-top: 4.75rem;
        align-self: flex-end;
    } 
    .modal-content {
        z-index: -1;
    }
    span>.close {
        right: 25px;
        font-size: 25px; 
        color: white;
    }
    .home {
        font-size: 14px;
        align-self: center;
    }
    .about, .contact {
        font-size: 12px;
        align-self: center;    
    }
    .search {
        height: 25px;
        align-self: center;
    }
}
