.united-states-map {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    z-index: 2;
    margin-top: 1rem;
}
.AR, .AZ, .CA, .DC, .FL, .GA, .IL, .IN, .MI, .MN, .MO, .OH, .SD, .TN, .TX, .UT, .WV, .WI {
    fill: red;
}
.AR:hover, .AZ:hover, .CA:hover, .DC:hover, .FL:hover, .GA:hover, .IL:hover, .IN:hover, .MI:hover, .MN:hover, .MO:hover, .OH:hover, .SD:hover, .TN:hover, .TX:hover, .UT:hover, .WV:hover, .WI:hover {
    z-index: -100;
    fill: green;
    cursor: pointer;
}
.arkansas:hover, .california:hover, .florida:hover, .georgia:hover, .illinois:hover, .indiana:hover, .michigan:hover, .minnesota:hover, .missouri:hover, .ohio:hover, .south-dakota:hover, .tennesseee:hover, .texas:hover, .utah:hover, .washington-dc:hover, .west-virginia:hover, .wisconsin:hover {
    background-color: green;
    cursor: pointer;
}
@media (max-width: 890px){
    .united-states-map {
        height: 350px;
        width: 500px;
    }
}