.california-top-section {
    background-image: url(states-images/california-images/city.jpeg);
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}
.california-header {
    line-height: 750px;
    text-align: center;
    color: white;
    font-size: 75px;
}
.body-headers {
    text-align: center;
    margin-top: 1rem;
}
.body-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.california-images {
    height: 350px;
    margin: .5rem 3rem;
    cursor: zoom-in;
    transition: .3s;
}
.california-images:hover {
    opacity: .7;
}
.hello {
    margin-right: 5rem;
}
.header-hr {
    width: 25%;
}   
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    margin-bottom: 1rem;
}
.box-image{
    height: 100px;
    cursor: pointer;
    transition: .3s;
    margin-left: 2px;
}
.box-image:hover
{
    opacity: .7;
    border: white solid 1px;
}
  div.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    z-index: 1; /* Sit on top */
    padding-top: 5px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  .modal-content {
    margin: auto;
    margin-bottom: 3px;
    display: block;
    width: 80%;
    max-width: 700px; 
  }
  #caption {
    margin: auto;
    display: block;
    width: 95%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 18px;
  }
  .modal-content, #caption, .row{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    overflow: auto;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  } 
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  .other-states {
    text-align: center;
    color: rgb(74, 74, 74);
    font-size: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: flex-end;
  }
  .bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .previous-state, .next-state {
    font-size: 45px;
    color: black;
    border: 2px solid black;
    border-radius: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
  }
  .previous-state:hover, .next-state:hover {
    background-color: black;
    color: white;
    border: solid 2px white;
    cursor: pointer;
    text-decoration: none;
  }
  .top {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-bottom: 1rem;
}
.top a {
    color: black;
}
.top a:hover {
    text-decoration: none;
}
.section-selection {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.area-selector {
  text-align: center;
}
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
@media (max-width: 1000px){
  br {
    display: none;
  }
    .california-header {
        font-size: 50px;
        color: white;
        font-weight: 200;
    }
    .body-images {
        flex-direction: column;
    }
    .wide {
        height: 300px;
        margin: .5rem 1rem;
    }
    .not-wide {
        height: 450px;
        margin: .5rem 1.5rem;
    }
    p {
        font-size: 14px;
    }
    .mid-wide {
        height: 400px;
        margin: .5rem 1.75rem;
    }
}