.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}
.section-selection {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.area-selector {
    text-align: center;
    display: flex;
    justify-content: center;
}