.other-states {
    text-align: center;
    color: rgb(74, 74, 74);
    font-size: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: flex-end;
  }
  .bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .previous-state, .next-state {
    font-size: 45px;
    color: black;
    border: 2px solid black;
    border-radius: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
  }
  .previous-state:hover, .next-state:hover {
    background-color: black;
    color: white;
    border: solid 2px white;
    cursor: pointer;
    text-decoration: none;
  }
  .section-selection {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .area-selector {
    text-align: center;
    display: flex;
    justify-content: center;
  }