.michigan-top-section {
    background-image: url(states-images/michigan-images/ski.jpeg);
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}
.michigan-header {
    line-height: 750px;
    text-align: center;
    color: white;
    font-size: 75px;
}
.body-headers {
    text-align: center;
    margin-top: 1rem;
}
.body-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.michigan-images {
    height: 350px;
    margin: .5rem 3rem;
    cursor: zoom-in;
    transition: .3s;
}
.michigan-images:hover {
    opacity: .7;
}
.hello {
    margin-right: 5rem;
}
.header-hr {
    width: 25%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    margin-bottom: 1rem;
}
.box-image{
    height: 100px;
    cursor: pointer;
    transition: .3s;
    margin-left: 2px;
}
.box-image:hover
{
    opacity: .7;
    border: white solid 1px;
}
.section-selection {
    display: flex;
    flex-direction: center;
    margin-top: 1rem;
}
.area-selector {
    text-align: center;
    display: flex;
    justify-content: row;
}
.year {
    position: absolute;
    margin-top: 1rem;
    margin-left: 5rem;
}
.michigan-section {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  @media (max-width: 1000px) {
      br {
          display: none;
      }
      .body-images {
          flex-direction: column;
      }
}