.ohio-top-section {
    background-image: url('../states-images/ohio-images/beach-view.jpeg');
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}
.ohio-header {
    line-height: 750px;
    text-align: center;
    color: white;
    font-size: 75px;
}
.body-headers {
    text-align: center;
    margin-top: 1rem;
}
.body-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ohio-images {
    height: 350px;
    margin: .5rem 3rem;
    cursor: zoom-in;
    transition: .3s;
}
.ohio-images:hover {
    opacity: .7;
}
.hello {
    margin-right: 5rem;
}
.header-hr {
    width: 25%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    margin-bottom: 1rem;
}
.box-image { 
    height: 100px;
    cursor: pointer;
    transition: .3s;
    margin-left: 2px;
}
.box-image:hover {
    opacity: .7;
    border: white solid 1px;
}
.section-selection {
    display: flex;
    flex-direction: row;
}
.area-selector {
    text-align: center;
    display: flex;
    justify-content: center;
}
.year {
    position: absolute;
    margin-top: 1rem;
    margin-left: 5rem;
}
.ohio-section {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}
.not-wide-card {
    margin-bottom: 4rem;
    height: 575px;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@media (max-width: 1000px) {
      br {
          display: none;
      }
      .body-images {
          flex-direction: column;
      }
}
@media (max-width: 890px) { 
    .modal-content {
      width: 100%;
    }
    .not-wide {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
        width: 85%;
    }
    .not-wide-card {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-bottom: 4rem;
    }
    .mid-wide {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 100%;
    }
    .mid-wide-card {
        margin-bottom: 4rem;
    }
    .wide {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 175px;
        margin-bottom: 4rem; 
    }
    .wide-card {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem; 
    }
    .ultra-wide {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 125px;
        margin-bottom: 4rem;  
    }
}